@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.2638 0.0716 258.7144);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2638 0.0716 258.7144);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2638 0.0716 258.7144);
  --primary: oklch(0.4114 0.1142 256.1719);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9244 0.0111 243.6602);
  --secondary-foreground: oklch(0.2638 0.0716 258.7144);
  --muted: oklch(0.9687 0.0051 247.8770);
  --muted-foreground: oklch(0.5422 0.0472 248.7107);
  --accent: oklch(0.8626 0.0327 242.4058);
  --accent-foreground: oklch(0.2638 0.0716 258.7144);
  --destructive: oklch(0.5771 0.2152 27.3250);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9080 0.0136 240.9675);
  --input: oklch(0.9244 0.0111 243.6602);
  --ring: oklch(0.4114 0.1142 256.1719);
  --chart-1: oklch(0.4114 0.1142 256.1719);
  --chart-2: oklch(0.5164 0.1017 250.4183);
  --chart-3: oklch(0.6338 0.0928 248.0852);
  --chart-4: oklch(0.7692 0.0701 238.3170);
  --chart-5: oklch(0.8711 0.0435 240.7815);
  --sidebar: oklch(0.2638 0.0716 258.7144);
  --sidebar-foreground: oklch(0.9244 0.0111 243.6602);
  --sidebar-primary: oklch(0.4114 0.1142 256.1719);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.4725 0.1163 254.9125);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.4114 0.1142 256.1719);
  --sidebar-ring: oklch(0.8711 0.0435 240.7815);
  --font-sans: 'IBM Plex Sans', sans-serif;
  --font-serif: 'IBM Plex Serif', serif;
  --font-mono: 'IBM Plex Mono', monospace;
  --radius: 0.35rem;
  --shadow-x: 0rem;
  --shadow-y: 0.25rem;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.1;
  --shadow-color: #0D2447;
  --shadow-2xs: 0rem 0.25rem 0.5rem 0rem hsl(216.2069 69.0476% 16.4706% / 0.05);
  --shadow-xs: 0rem 0.25rem 0.5rem 0rem hsl(216.2069 69.0476% 16.4706% / 0.05);
  --shadow-sm: 0rem 0.25rem 0.5rem 0rem hsl(216.2069 69.0476% 16.4706% / 0.10), 0rem 1px 2px -1px hsl(216.2069 69.0476% 16.4706% / 0.10);
  --shadow: 0rem 0.25rem 0.5rem 0rem hsl(216.2069 69.0476% 16.4706% / 0.10), 0rem 1px 2px -1px hsl(216.2069 69.0476% 16.4706% / 0.10);
  --shadow-md: 0rem 0.25rem 0.5rem 0rem hsl(216.2069 69.0476% 16.4706% / 0.10), 0rem 2px 4px -1px hsl(216.2069 69.0476% 16.4706% / 0.10);
  --shadow-lg: 0rem 0.25rem 0.5rem 0rem hsl(216.2069 69.0476% 16.4706% / 0.10), 0rem 4px 6px -1px hsl(216.2069 69.0476% 16.4706% / 0.10);
  --shadow-xl: 0rem 0.25rem 0.5rem 0rem hsl(216.2069 69.0476% 16.4706% / 0.10), 0rem 8px 10px -1px hsl(216.2069 69.0476% 16.4706% / 0.10);
  --shadow-2xl: 0rem 0.25rem 0.5rem 0rem hsl(216.2069 69.0476% 16.4706% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2638 0.0716 258.7144);
  --foreground: oklch(0.9244 0.0111 243.6602);
  --card: oklch(0.3625 0.0884 255.3957);
  --card-foreground: oklch(0.9244 0.0111 243.6602);
  --popover: oklch(0.3625 0.0884 255.3957);
  --popover-foreground: oklch(0.9244 0.0111 243.6602);
  --primary: oklch(0.5164 0.1017 250.4183);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.3625 0.0884 255.3957);
  --secondary-foreground: oklch(0.9244 0.0111 243.6602);
  --muted: oklch(0.3173 0.0782 256.6300);
  --muted-foreground: oklch(0.7692 0.0701 238.3170);
  --accent: oklch(0.4725 0.1163 254.9125);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.4114 0.1142 256.1719);
  --input: oklch(0.3625 0.0884 255.3957);
  --ring: oklch(0.5164 0.1017 250.4183);
  --chart-1: oklch(0.5164 0.1017 250.4183);
  --chart-2: oklch(0.6338 0.0928 248.0852);
  --chart-3: oklch(0.7692 0.0701 238.3170);
  --chart-4: oklch(0.8711 0.0435 240.7815);
  --chart-5: oklch(0.9283 0.0253 240.6647);
  --sidebar: oklch(0.2638 0.0716 258.7144);
  --sidebar-foreground: oklch(0.9244 0.0111 243.6602);
  --sidebar-primary: oklch(0.5164 0.1017 250.4183);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.4725 0.1163 254.9125);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.4114 0.1142 256.1719);
  --sidebar-ring: oklch(0.7692 0.0701 238.3170);
  --font-sans: 'IBM Plex Sans', sans-serif;
  --font-serif: 'IBM Plex Serif', serif;
  --font-mono: 'IBM Plex Mono', monospace;
  --radius: 0.35rem;
  --shadow-x: 0rem;
  --shadow-y: 0.5rem;
  --shadow-blur: 0.75rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.2;
  --shadow-color: #000000;
  --shadow-2xs: 0rem 0.5rem 0.75rem 0rem hsl(0 0% 0% / 0.10);
  --shadow-xs: 0rem 0.5rem 0.75rem 0rem hsl(0 0% 0% / 0.10);
  --shadow-sm: 0rem 0.5rem 0.75rem 0rem hsl(0 0% 0% / 0.20), 0rem 1px 2px -1px hsl(0 0% 0% / 0.20);
  --shadow: 0rem 0.5rem 0.75rem 0rem hsl(0 0% 0% / 0.20), 0rem 1px 2px -1px hsl(0 0% 0% / 0.20);
  --shadow-md: 0rem 0.5rem 0.75rem 0rem hsl(0 0% 0% / 0.20), 0rem 2px 4px -1px hsl(0 0% 0% / 0.20);
  --shadow-lg: 0rem 0.5rem 0.75rem 0rem hsl(0 0% 0% / 0.20), 0rem 4px 6px -1px hsl(0 0% 0% / 0.20);
  --shadow-xl: 0rem 0.5rem 0.75rem 0rem hsl(0 0% 0% / 0.20), 0rem 8px 10px -1px hsl(0 0% 0% / 0.20);
  --shadow-2xl: 0rem 0.5rem 0.75rem 0rem hsl(0 0% 0% / 0.50);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}